name: appmetrica_plugin
description: A Flutter plugin for AppMetrica by Yandex. AppMetrica is a set of libraries for collecting application usage statistics.
version: 3.5.0
homepage: https://appmetrica.io/about
repository: https://github.com/appmetrica/appmetrica-flutter-plugin

environment:
  sdk: ">=2.14.0 <4.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  stack_trace: ^1.10.0
  logging: ^1.0.2
  decimal: ^3.0.0

dev_dependencies:
  pigeon: ^10.0.0
  flutter_test:
    sdk: flutter
  mockito: ^5.4.0
  build_runner: ^2.3.3
  channel: ^2.0.0
  flutter_lints: ^2.0.3
  test_cov_console: ^0.2.2

flutter:
  plugin:
    platforms:
      android:
        package: io.appmetrica.analytics.flutter
        pluginClass: AppMetricaPlugin
      ios:
        pluginClass: AMAFAppMetricaPlugin
